.root{
    display: flex;
    flex-direction: row;    
    height: 56px;
    width: 100%;
    background-color: #f85a4f;
    border-width: medium;
    border-style: groove;
    border-color: rgb(253, 238, 238);
    
   
}