.root{
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 15px;
    border-radius: 5px;
    background-color: #F1F1F1;
    font-size: 14pt;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
    border: 1px solid;
    display: block; 
    border-color:#f61f0e;
    background:linear-gradient(to bottom, #fca8a1 5%, #f61f0e 100%);
    box-shadow:inset 0px 1px 0px 0px #fff4f3;
    color:#fff;
    text-shadow:0px 1px 0px #528009; 
     /* margin: 0 auto; */ 
  
    
    
}

.root:hover{
    background-color: #D1D1D1;
    transition: all 300ms ease-in-out;
   
}

.root:active{
    color: #FFF;
    background-color: #9F9F9F;
    transition: all 300ms ease-in-out;
 
}

.active{
    color: #FFF;
    background-color: #5D5D5D;
    transition: all 300ms ease-in-out;
   
}

.active:hover{
    background-color: #5D5D5D;
    
}

.active:active{
    background-color: #5D5D5D;
   
}