.root {
  background-color: rgb(247, 59, 59);
  list-style-type: none;
  margin: 0;
  padding:0;
  width: 250px;
  border-radius: 2px;
  border: 1px rgb(93, 93, 241);
  position:absolute;
  left:50%;
  top:30%;
  margin-left:-110px;
  margin-top:-40px;

}

.root2 {

  list-style-type: none;
  margin: 0;
  width: 250px;
  background-color: rgb(233, 90, 54);
  color: black;
  justify-content: center;
  
}
.root21 {
  
  list-style-type: none;
  margin: 0;
  padding:0;
  width: 250px;
  background-color:   rgb(217, 226, 248);
  justify-content: center;


}
.root31 {
  
  list-style-type: none;
  margin: 0;
  padding:0;
  width: 250px;
  background-color:   rgb(217, 226, 248);
  justify-content: center;
 

}
.root4 {

  font: bold 12px/24px arial, helvetica, sans-aerif;
  padding:0px;
  text-decoration: none;
  text-align:center;
  color:rgb(255, 255, 255);
  background:  rgb(247, 59, 59);
  width:120px;
  height:24px;
  display:block;
  cursor: pointer;
  border: 1px;
  justify-content: center;
 

}

.subt {

background-color: brown;
color: blue;

}


.tela02{
  background: linear-gradient(198deg, rgba(121,44,9,1) 0%, rgba(255,151,0,1) 100%);
}

.tela03{
  background: linear-gradient(58deg, rgba(121,9,112,1) 0%, rgba(0,114,255,1) 100%);
}